body {
    background-image: url("../img/chinook.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: slategray;
    color: rgb(219, 216, 29);
    text-align: center;
}
h1 {
    margin-bottom: 100px;
}
h2 {
    width: 100%;
}
#list {
    border-style: solid;
    border-color: #1d0b28;
    border-width: 10px;
    border-radius: 25px;
    text-align: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
dimg {
    display: block;
    margin: auto;
    opacity: .5;
    width: 100%;
}
p {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#a {
    margin-top: 10%;
}
a:link {
    color: rgb(35, 53, 219);
}
a:visited {
    color: rgb(28, 45, 197);
}