body {
    background-color: rgb(34, 7, 5);
    color: rgb(15, 15, 153);
}
fieldset {
    display: block;
    width: 50%;
    margin: auto;
    font-size: 18px;
    font-family: 'Lobster', cursive;
}
legend {
    border-style: ridge;
    border-width: 3px;
    border-color: rgb(139, 14, 112);
    border-radius: 5px;
    color: salmon;
}
img {
    display: block;
    width: 65%;
    margin: auto;
}
a:link {
    color: salmon;
    font-size: 22px;
}
a:visited {
    color: salmon;
    font-size: 22px;
}