body {
    background-color: salmon;
    color: rgb(13, 95, 49);
}
h1 {
    font-family: 'Bitter', serif;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 45px;
}
table {
    color: yellow;
    font-family: 'Ariel', sans-serif;
    text-align: center;
    background-color: plum;
    border-color: #000000;
}
tr {
    background-color: purple;
}
td {
    background-color: black;
}